html,
body {
  padding: 0;
  margin: 0;
  font-family: Roboto, sans-serif;
  background: #1b1f22;
  color: #f4f4f3;
  background-attachment: fixed;
  background-image: url("https://images.pexels.com/photos/1763067/pexels-photo-1763067.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1");
  // background-image: url("https://static.wixstatic.com/media/ec091c_1bc3eb93418e47a2a08414b656890241~mv2.jpg/v1/fill/w_1250,h_641,al_c,q_85,enc_auto/ec091c_1bc3eb93418e47a2a08414b656890241~mv2.jpg");
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
